#cs1300-gallery {
  background-color:white;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.title-text {
    
      top: 70px;
      left: 100px;
      font-size: 3vw;
      font-family: chalkduster;
}
.header-text {
  
  top: 140px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.header-text-2 {
  
  top: 160px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.bagel-gourmet-text {
  
  top: 280px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.bagel-gourmet-text-2 {
  
  top: 300px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.part1 {
  
  top: 205px;
  left: 100px;
  font-size: 2.44vw;
  font-family: chalkduster;
}
.explanation {
  
  top: 700px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.explanation-2 {
  
  top: 735px;
  left: 100px;
  font-size: 1.3vw;
  font-family: chalkduster;
}
.balsamic {
  font-size: 1.6vw;
  font-family: chalkduster;
}